In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2020-12-31 03:42:02,71.92,114.08,-26.25,84,55,10.13
1,1,Jamestown,US,2020-12-31 03:42:02,42.10,-79.24,37.00,93,90,17.22
2,2,Bluff,NZ,2020-12-31 03:42:02,-46.60,168.33,57.94,82,95,8.34
3,3,Margate,GB,2020-12-31 03:42:03,51.38,1.39,36.00,83,65,1.99
4,4,Mar Del Plata,AR,2020-12-31 03:42:03,-38.00,-57.56,59.00,71,20,8.05

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Rikitea,PF,2020-12-31 03:42:03,-23.12,-134.97,78.21,75,1,12.30
15,15,Dzaoudzi,YT,2020-12-31 03:42:06,-12.79,45.27,82.40,74,0,3.36
19,19,Busselton,AU,2020-12-31 03:42:07,-33.65,115.33,90.00,37,0,5.99
20,20,Cidreira,BR,2020-12-31 03:42:08,-30.18,-50.21,76.93,77,66,8.19
23,23,Hilo,US,2020-12-31 03:42:08,19.73,-155.09,75.20,69,90,9.17
25,25,Phan Thiet,VN,2020-12-31 03:37:16,10.93,108.10,77.59,68,100,1.16
38,38,Kapaa,US,2020-12-31 03:42:12,22.08,-159.32,78.80,74,1,11.41
40,40,Avarua,CK,2020-12-31 03:42:12,-21.21,-159.78,82.40,78,99,9.17
44,44,Nambucca Heads,AU,2020-12-31 03:42:14,-30.65,153.00,80.01,73,75,13.87
46,46,Grand Gaube,MU,2020-12-31 03:42:14,-20.01,57.66,80.01,78,22,10.00

In [15]:
preferred_cities_df.count()

City_ID       124
City          124
Country       124
Date          124
Lat           124
Lng           124
Max Temp      124
Humidity      124
Cloudiness    124
Wind Speed    124
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
5          Rikitea      PF     78.21 -23.12 -134.97
15        Dzaoudzi      YT     82.40 -12.79   45.27
19       Busselton      AU     90.00 -33.65  115.33
20        Cidreira      BR     76.93 -30.18  -50.21
23            Hilo      US     75.20  19.73 -155.09
25      Phan Thiet      VN     77.59  10.93  108.10
38           Kapaa      US     78.80  22.08 -159.32
40          Avarua      CK     82.40 -21.21 -159.78
44  Nambucca Heads      AU     80.01 -30.65  153.00
46     Grand Gaube      MU     80.01 -20.01   57.66

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Rikitea,PF,78.21,-23.12,-134.97,Pension Maro'i
15,Dzaoudzi,YT,82.40,-12.79,45.27,Le Rocher
19,Busselton,AU,90.00,-33.65,115.33,Observatory Guest House
20,Cidreira,BR,76.93,-30.18,-50.21,Hotel Castelo
23,Hilo,US,75.20,19.73,-155.09,Hilo Hawaiian Hotel
25,Phan Thiet,VN,77.59,10.93,108.10,Hotel Saigon-PT
38,Kapaa,US,78.80,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
40,Avarua,CK,82.40,-21.21,-159.78,Paradise Inn
44,Nambucca Heads,AU,80.01,-30.65,153.00,Marcel Towers Holiday Apartments
46,Grand Gaube,MU,80.01,-20.01,57.66,Veranda Paul et Virginie Hotel & Spa

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]